.bgcol-petal{
    background-color: #f98866;
}
.txtcol-petal{
    color: #f98866
}
.bgcol-poppy{
    background-color: #ff420E
}
.txtcol-poppy{
    color: #ff420E
}
.bgcol-stem{
    background-color: #80bd9e
}
.txtcol-stem{
    color: #80bd9e
}
.bgcol-springgreen{
    background-color: #89da59
}
.txtcol-springgreen{
    color: #89da59
}

